*.swp
*.swo
*.pyc
*.egg-info
*.ipynb_checkpoints
__pycache__
.coverage
htmlcov
.mypy_cache
.dmypy.json
.hypothesis
.envrc
.lvimrc
.DS_Store
.envrc
.vite
build
*.pt
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.gz.part
*.tar.bz2.part
*.tar.xz.part
*.tar.lzma.part


.onnx
.db3
*/rosbag2*/*

build/
install/
log/
log_old/

*/build/*
*/install/*
*/log/*

*.engine
*.onnx
*.db3
*.pt
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz

*.zip