ultralytics==8.3.156
psutil==6.0.0
xmltodict==0.14.2
tqdm==4.67.1
scipy==1.15.3
scikit-image==0.25.2
scikit-learn==1.7.0
pillow==11.2.1
Cython==3.1.2
cython-bbox==0.1.5
opencv-python==4.11.0.86
squaternion==2025.3.2
open3d==0.19.0
pyserial==3.5
pytictoc==1.5.3
future==1.0.0
fastapi==0.115.13
uvicorn==0.34.3
python-multipart==0.0.20
transforms3d==0.4.2
pygrabber==0.2
pcl==0.0.0.post1
odrive
matplotlib==3.5.1
catkin_pkg==1.0.0
empy==3.3.4
lark==1.1.9
cython_bbox
lapx==0.5.11.post1
numpy==1.25
numpy-quaternion==2024.0.8
pykdtree==1.4.1
pydantic==2.11.4
ruamel.yaml==0.18.10
typeguard==4.4.2
tyro==0.9.24
seaborn==0.13.2
aiohttp==3.12.13